<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Tasks</title>
</head>
<body>
    <h1> Add New Tasks</h1>
    <form action="" method="post">
        <label for="">Content: </label>
        <input type="text" name="content" id=""> <br>
        
        <label for="">Status: </label>
        <select name="status" id="">
            <option value="" selected disabled>select status</option>
            <option value="complete">complete</option>
            <option value="uncomplete">uncomplete</option>
        </select> <br>
        <button type="submit">Add Task</button>
    </form>
</body>
</html>